<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="style.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/semantic/semantic.min.js"></script>
</head>
<body>
    <h4 class="judul">REGISTER</h4>
<form  class="ui form" action="/register" method="post">
    <div class="ui card">
        <div class="content">
    <h4 class="ui dividing header">Please Register First</h4>
    <div class="field">
      <div class="field">
        <label for="name">Full name</label>
        <input name="name" type="text" placeholder="Full Name">
      </div>
      <label for="email">E-mail</label>
    <input type="email" placeholder="Enter your Email address" name="email">
  </div>
  <label for="password">Password</label>
  <input name="password" type="Password" placeholder="Enter your Password">
  <button type="submit" class="ui blue button">
    <a> 
    Submit</a> </button>
      </div>
     
    </div>
 
</div>
    </form>

<script src="style.js"></script>
</body>
</html>